-# frozen_string_literal: true
= simple_form_for :user, url: "/register",method: :post do |f|
  %p#notice= notice

  .form-inputs
    = f.input :email
    = f.input :name
    = f.input :password

  .form-actions
    = f.button :submit, 'Create Account'

= link_to 'Cancel', '/main', class:"btn btn-primary mt-2"

