%h1 Listing posts

%table#postTable.display{:style => "width:100%"}
  %thead
    %tr
      %th Msg
      %th User
      %th Show
      %th Edit
      %th Delete

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.msg
        %td= post.user.name
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path

:javascript
  $(document).ready(function() {
    $('#postTable').DataTable( {
        "scrollY":        "50vh",
        "scrollCollapse": true,
        "paging":         false
    } );
  });